.imageStyle {

    width: 100%;
    height: 50vh;
    margin-bottom: 1em;
}

.fullStyle {

    width: 50%;
    background-color: #0b1f14;
    color: white;
}

.buttonStyle {

    margin-top: 1em;
    margin-left: 1em;

}